<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8">
    <title>数组的过滤显示</title>
    <script src="../lib/vue/dist/vue.js"></script>
</head>

<body>
    <div id="filter_arr">
        <li v-for="n in evenNumbers">{{n}}</li>
    </div>
    <hr>
    <div id="filter_fun">
        <li v-for="item in even(numbers)">{{item}}</li>
    </div>
    <script>
    var app1 = new Vue({
        el: '#filter_arr',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        computed: {
            evenNumbers: function() {
                return this.numbers.filter(function(number) {
                    return number % 2 === 0;
                });
            }
        }
    });

    var app2 = new Vue({
        el: '#filter_fun',
        data: {
            numbers: [6, 7, 8, 9, 10]
        },
        methods: {
            even: function(numbers) {
                return numbers.filter(function(number) {
                    return number % 2 === 1;
                })
            }
        }
    });
    </script>
</body>

</html>
